body {
    background: url(/IMG/Untitled-2.png) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: #ffffff;
    overflow: hidden;
    padding: 0;
    margin: 0;
    
}

a {
    text-decoration: none;
}
.wrapper {
    width: 85%;
    margin: 0 auto;
    /* margin-left: 200px; */
}

/* Header */

header {
    padding: 40px 0;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.header-column {
    display: inline-block;
    width: 55%;
    vertical-align: middle;
}
.header-column:first-child,
.header-column:last-child {
    width: 20%;
}
.header-column:last-child {
    display: inline-flex;
    justify-content: right;
}
.header-logo {
    /* background: linear-gradient(black, gray); */
    box-shadow: 0 0 20px blue;
    background: rgb(28, 28, 112);
    border-radius: 50%;
    width: 95px;
    height: 95px;
    position: relative;
    animation: bling 1.5s linear infinite ;
}
@keyframes bling {
    0% {
        box-shadow: 0 0 20px rgb(89, 86, 236);
    }
    50% {
        box-shadow: 0 0 40px blue;

    }
    100% {
        box-shadow: 0 0 20px  rgb(89, 86, 236);

    }
}
.header-logo img {
    width: 59px;
    position: absolute;
    top: 41.45%;
    left: 49.7%;
    transform: translate(-50%, -50%);
}

.header-button {
    display: inline-block;
    background: blue;
    font: 18px "Oswald";
    font-weight: 500px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 30px;
    padding: 15px 35px;
    text-transform: uppercase;
    color: #ffffff;
    transition: box-shadow 500ms;
}
.header-button:hover {
    box-shadow: 0 0 30px 0 blue;
}
/* MENU */
nav {
    text-align: center;
}
.menu-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.menu-list li {
    display: inline-block;
    width: 130px;
}
.menu-list li a {
    font: 20px "Oswald";
    font-weight: 400;
    color: white; 
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    transition: all .4s;
}

.menu-list li a:after {
    content: "";
    width: 0;
    height: 5px;
    border-radius: 2px;
    background-color: blue;
    bottom: -20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 400ms;
}
.menu-list li a:hover {
    color: #cccccc
}

.menu-list li a:hover::after {
    width: 60px
}
/* Intro */

.intro {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;    
}

.intro-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
}

.intro-title {
    font: 8rem/130px "Oswald";
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0;
    position: relative;
}

.intro-title span {
    display: block;
    font-weight: 200;
}
.intro-title:after,
.intro-title:before {
    content: "";
    background: blue;
    width: 218px;
    height: 60px;
    border-radius: 3px;
    display: block;
    position: absolute;
    z-index: -2;
}
.intro-title:after {
    right: 30px;
    bottom: -10px;
}
.intro-title:before {
    top: 60px;
    left: -70px;
}

.intro-description {
    font: 16px/35px "Roboto";
    opacity: 0.8;
    margin: 40px 0;
    overflow: ellipsis;
}

.intro-link {
    font: 30px "Oswald";
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    letter-spacing: 4px;
    position: relative;
    transition: all .4s;
}
.intro-link:hover {
    color: blue;
}
.intro-link:hover i,
.intro-link:hover i:after,
.intro-link:hover i:before {
    background: blue;
    margin-left: 40px;
}
.intro-link i {
    background: white;
    height: 3px;
    width: 35px;
    position: absolute;
    cursor: pointer;
    top: 50%;
    margin-left: 20px;
    transition: all .4s;
}

.intro-link i:before,
.intro-link i:after {
    content: "";
    background: white;
    position: absolute;
    height: 3px;
    width: 12px;
}

.intro-link i:before {
    right: -3px;
    top: 4px;
    transform: rotate(-45deg);
}

.intro-link i:after {
    right: -3px;
    top: -4px;
    transform: rotate(45deg);
}

@media (max-width: 1670px){
    .intro-description {
        display: none;
    }

    .intro-title {
        margin-bottom: 50px;
        font-size: 6rem;
    }
   
}
@media (max-width: 1300px){
    .intro-content {
        width: 50%;
    }
    .menu-list {
        display: none;
    }
    .header-button {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media (max-width: 800px){
    .intro-content {
        width: 80%;
    }
}